//Font stacks
$font-stack-primary: 'Titillium Web', Helvetica, sans-serif;
$font-stack-secondary: 'Roboto', Helvetica, sans-serif;

//Colors 
$white: #FFFFFF;
$black: #000000;
$grey-dark-accent-color: hsl(0,0%,96%);
$grey-light-accent-color: hsl(0,0%,88%);
$grey-dark-color: hsl(0,0%,44%);
$indigo-300: #7986CB;
$indigo-800: #283593;
$grey-600: #757575;
$grey-paragraph: #494C4E;


