* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif
}

html {
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

body {
  height: 100%;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 340px;
  flex: 3;
  background: hsl(0,0%,96%);
  padding: 1em 0 2.5em 0;
  border-right: 2px solid hsl(0,0%,88%); 
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: hsl(0,0%,96%);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #7986CB;
    border-radius: 10px;
  }

  .about-navigate {
    padding: 2em 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-top: 1px solid hsl(0,0%,88%);

    p {
      font-size: 13px;
      margin-top: 10px;
    }
    a{
      text-decoration: none;
      color: #757575;
    }
  }
}

.nav-category {
  margin: .2em 0;
  padding-left: 2rem;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

.learning {
  padding-top: 2.5em;
}

.nav-sub-category {
  margin: 2em 0 1em 0;
  padding-left: 3rem;
  font-size: 13px;
}

.nav-item {
  padding: 0.25em 0 0.25em 0;

  h5 {
    padding: .3rem 0 .3rem .3rem;
    padding-left: calc(2rem + 16px + .5rem);
    width: 100%;
    line-height: 2;
    text-align: left;
    color: hsl(0,0%,44%);
    font-weight: 500;

    &:hover {
      background: #283593;
      color: #ffffff;
      cursor: pointer;
    }
    
    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }
}

.container {
  flex: 5;
  position: relative;
  opacity: 1;
  min-height: 100%;
}

.about {
  text-align: center;
  img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
  }
  .about-sourceme {
    margin-top: 20px;
    p {
        line-height: 1.2;
        color: #494C4E;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
    }
  }
}

.wrapper {
  padding: 2em 3em 1em 3em;
  position: relative;
  display: block;
  top: 2em;
  hr {
    width: 25%;
    border: 1px solid hsl(0,0%,88%);
    margin: 0.5em auto 0 auto;
  }
  .dropdown {
    margin-top: 1em;
  }
}
.cdn {
  text-align: center;
  .color-cdn-link {
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    .cdn-link {
      margin-top: 2em;
      color: #494C4E;
      text-align: center;
      font-weight: 700;
      padding: 0.25em;
    }
  }
}
.about-library {
  margin: 2em 0;
  color: #494C4E;
  text-align: center;
  a{
    text-decoration: underline inherit;
    color: inherit;
  }
}

.wrap-colors {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block; 
  text-align: center;
  margin-bottom: 20px;
  margin-top: 2em;

  .color-div {
    width: 80px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  } 
}

.wrap-icons {
  margin: 0 0 0 2em;
  max-height: 450px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: hsl(0,0%,96%);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #494C4E;
    border-radius: 10px;
  }
  .icons {
    margin-right: 1em;
  }
}
