body {
    margin: 0;
    /*background: #fff;*/
}

h2 {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

hr {
    display: block;
    width: 50%;
}

.description {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-align: center;
}