body {
    margin: 0;
    /*background: #fff;*/
}

h2 {
    color: inherit;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

hr {
    display: block;
    width: 50%;
}

.description {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 50px;
    text-align: center;
}

.wrap-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 30px;
}

.wrap-links hr {
    width: 25%;
}