body {
    font-family: 'Roboto', sans-serif;
    background: url('../../assets/img/bg.png') repeat;
    background-size: auto; 
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.hero img {
    margin-top: 2rem;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 1rem;
}

.hero p {
    font-weight: 500;
    color: #999;
}

.hero .download {
    padding: 12px 35px;
    background: #673AB7;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

#top_bar {
    width: 100%;
    height: 8px;
    background: #673AB7;
}

.hero .download:hover {
    -webkit-box-shadow: 2px 2px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 15px -1px rgba(0,0,0,0.75);
}
